.l-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.l-col {
  margin-bottom: $grid-gutter-width;
}
.l-row--eq {
  justify-content: space-between;
}
.l-row--eq-1 {
  .l-col {
    flex: 0 0 calc(100% - #{$grid-gutter-width}/ 2);
  }
}
.l-row--eq-2 {
  .l-col {
    flex: 0 0 calc(100% - #{$grid-gutter-width}/ 2);
    width: calc(100% - #{$grid-gutter-width}/ 2);
    @include breakpoint(mid) {
      flex: 0 0 calc(50% - #{$grid-gutter-width}/ 2);
      width: calc(100% - #{$grid-gutter-width}/ 2);
    }
  }
}
.l-row--eq-3 {
  .l-col {
    flex: 0 0 calc(100% - #{$grid-gutter-width}/ 2);
    width: calc(33.3333% - 20px / 2);
    @include breakpoint(mid) {
      flex: 0 0 calc(33.3333% - #{$grid-gutter-width}/ 2);
      width: calc(33.3333% - 20px / 2);
    }
  }
}
.l-row--eq-4 {
  .l-col {
    flex: 0 0 calc(25% - #{$grid-gutter-width}/ 2);
  }
}
.l-row--eq-5 {
  .l-col {
    flex: 0 0 calc(20% - #{$grid-gutter-width}/ 2);
  }
}
.l-row--eq-6 {
  .l-col {
    flex: 0 0 calc(16.6666% - #{$grid-gutter-width}/ 2);
  }
}
.l-row--eq-7 {
  .l-col {
    flex: 0 0 calc(14.2% - #{$grid-gutter-width}/ 2);
  }
}
.l-row--eq-8 {
  .l-col {
    flex: 0 0 calc(12.5% - #{$grid-gutter-width}/ 2);
  }
}
.l-row--eq-9 {
  .l-col {
    flex: 0 0 calc(11.111% - #{$grid-gutter-width}/ 2);
  }
}
.l-eservice-container {
  display: flex;
}
.l-eservice-content {
  padding: 48px 0;
  flex: 1;
}
.l-eservice-nav {
  flex: 0 0 200px;
}
@include breakpoint(isCommon) {
  .l-eservice-nav {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    height: 100%;
    @include transition();
    &.is-open {
      opacity: 1;
      visibility: visible;
      .side-bar {
        transform: translate(0, 0);
      }
    }
  }
}

@include breakpoint(mid) {
  .l-f-end {
    display: flex;
    justify-content: flex-end;
  }
}

.form-group--flex-md {
  display: flex;
  flex-direction: column;
  @include breakpoint(mid) {
    flex-direction: row;
    label {
      margin-#{$end}: 10px;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}

.hidden-md {
  @include breakpoint(isMobile) {
    display: none;
  }
}
