$lang: ar;
$txt-direction: right;

$start: right;
$end: left;

$dirInv : ltr;
$dir :rtl;

$ltr: rtl;
$rtl: ltr;
 
$font-family: 'DroidKufi', sans-serif;
$font-family-secondary: 'SSTArabic', sans-serif;